# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/

# macOS
.DS_Store

# Build files
dist/
build/
*.egg-info/

# Generated plots
*.png